.card {
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    background-color: #1a1a1a;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    
    img {
        width: 100%;
        object-fit: fill;
        border-radius: 20px 20px 0 0;
    }

    span {
        padding: 12px;
    }
}

@media (min-width: 1200px) {
    img {
        height: 300px;
    }
}
